@import "~/src/scss/index.scss";

.formStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 20%;

    
}

.radioColumn{
    display: flex;
    flex-direction: column;
    margin: 5% 20%;
}