@import "~/src/scss/index.scss";

.formStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pageTwoButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 20%;
}

.nextButtonContainer{
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 20%;
}

.nextButton{
    width: 10rem;
    margin: 0;
}
