@import "~/src/scss/index.scss";

.formStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 20%;
}

// .radioColumn{
//     display: flex;
//     flex-direction: column;
//     margin: 5% 20%;
// }

// /* styles/FormTest.module.scss */

// .radioLabel {
//     text-align: center;
//   }
  
//   .radioColumn {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
  
//     .field {
//       margin-bottom: 10px;
//     }
  
//     .ui.radio.checkbox {
//       margin-top: 10px;
  
//       label {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//       }
//     }
//   }
  